*{
    padding: 0;
    margin: 0;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 40%;
    font-size: 23px;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}